body{
  background-color: rgb(211,211,211);
}
h1 {
  color: rgb(155, 15, 110);
  text-decoration: underline;
  text-align: center;
}
#Os{
   background-color:  rgb(102, 153, 153);
   height: auto;
  width: 230px;
  font-family:"Courier New";
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#osa {
  font-size: 300% ;
  font-family: fantasy;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#o {

  font-family: monospace;
  text-align: center;
  display: block;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
ul:hover{
  display: block;
  align-content: center;
  margin-left: 45%;
    color: red;
}
ol{
  display: block;
  align-content: left;
  margin-left: 45%;
}
